extends ./layout/index


block slider 
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas justo pellentesque hendrerit varius.
                p Vivamus commodo hendrerit euismod. Mauris hendrerit felis ut molestie venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas justo pellentesque hendrerit varius.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" imagen nosotros", class= 'img-fluid')

        include ./layout/bloque_viajes
    
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD

    .container
        h2.mt-5.text-center Testimoniales
        blockquote.text-center Lee sobre nuestros clientes y sus experiencias
        include ./layout/bloque_testimoniales